
@{
    ViewBag.Title = "ThongKe";
}

<h2>Thống Kê</h2>

@{
    var data = ViewData["Message"];
}

<h3 style="display:inline-flex">
    Tổng Doanh Thu Tour Du Lịch:
</h3>
<h3 style="display: inline-flex" class="text-primary">
    @data VND
</h3>


